<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="lawyer-app">
         <property
               name="appName"
               value="lawyer-app">
         </property>
         <property
           name="lifeCycleURI"
           value="bundleclass://lawyer-app/com.ngosdi.lawyer.app.ApplicationLifeCycleManager">
         </property>
         <property
               name="startupForegroundColor"
               value="FF0000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
          <property
               name="applicationCSS"
               value="platform:/plugin/lawyer-app/css/default.css">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="lawyer-app.intro">
      </intro>
      <introProductBinding
            introId="lawyer-app.intro"
            productId="lawyer-app.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="lawyer-app.introConfigId"
            introId="lawyer-app.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="com.ngosdi.lawyer.app.authentication.SessionSourceProvider">
         <variable
               name="com.ngosdi.lawyer.app.sessionState"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         id="authenticateModule"
         point="org.eclipse.equinox.security.loginModule">
      <loginModule
            class="com.ngosdi.lawyer.app.authentication.AuthenticateModule"
            description="AuthenticateModule">
      </loginModule>
   </extension>
   <extension
         id="authenticateCallbackHandler"
         point="org.eclipse.equinox.security.callbackHandler">
      <callbackHandler
            class="com.ngosdi.lawyer.app.authentication.AuthenticateCallbackHandler">
      </callbackHandler>
   </extension>
   <extension
         point="org.eclipse.equinox.security.callbackHandlerMapping">
      <callbackHandlerMapping
            callbackHandlerId="lawyer-app.authenticateCallbackHandler"
            configName="LAWYER">
      </callbackHandlerMapping>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="lawyerapp.splashHandlers.InteractiveSplashHandler"
            id="lawyerapp.splashHandlers.interactive">
      </splashHandler>
   </extension>

</plugin>
